:root {
    /* variáveis css */
    --color-background: #f0f0f7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257e5;
    --color-primary-dark: #774dd6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04d361; 
    --color-secondary-dark: #04bf58;
    --color-title-in-primary: #ffffff;
    --color-text-in-primary: #d4c2ff;
    --color-text-title: #32264d;
    --color-text-complement: #9c98a6;
    --color-text-base: #6a6180;
    --color-line-in-white: #e6e6f0;
    --color-input-background: #f8f8fc;
    --color-button-text: #ffffff;
    --color-box-base: #ffffff;
    --color-box-footer: #fafafc;
    --color-small-info: #c1bccc;

    /* tamanho da fonte padrão: 16px - 100% - 1rem*/
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100vh; /* height = altura */
}

body {
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}



#container {
    /* box model */
    width: 90vw; /* width = largura */
    max-width: 700px;
    /* border: 1px solid red; */
}